.row {

  display: flex;
  /*align-items: baseline;*/

}

.row div {
  /*flex: 1;*/
  margin-bottom: 50px;
}

.right {
  justify-content: flex-end;
}

input {
  margin: auto 5px;
}

.CardContent {
  padding: 20px 10px 0 10px;
}

.card-header {
  background-color: #3f51b5;
  height: 70px;
  display: flex;
  justify-content: space-between;

  padding: 0 25px;


}

.card-header h1 {
  color: white;
}