.positions-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.positions-container div.my-elevation {
    /*width: 100vw;*/
    width: 100%;
    margin: 0 0 7px 0
}


.positions-container section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.position-zoom-container button {
    margin-right: 5px;
}