ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul {
    /*margin-top: 64px; !* toolbar offset *!*/
}

.positions-container {
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    justify-content: flex-start;
    /*padding: 5px;*/
}

.positions-container section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.position-zoom-container button {
    margin-right: 5px;
}

.positions-container--compact li {
    margin: 4px 0 0 4px;
    /*width: 100%;*/
    /*max-width: 48%;*/
}

@media screen and (min-width: 1600px) {
    .positions-container--compact li {
        width: calc(95% / 3);
    }
}

@media screen and (min-width: 1200px) and (max-width: 1800px){
    .positions-container--compact li {
        width: calc(48%);
    }
}

@media screen and (max-width: 1200px) {
    .positions-container--compact li {
        width: 98%;
    }
}