.position-header {
    display: flex;
    flex-wrap: wrap;
    color: #333333;
}

.symbol-container {
    display: flex;
    align-items: center;
    /*margin-bottom: 10px;*/
}

.coin-name {
    font-size: 18px;
}

.prices-container {
    display: flex;
    align-items: center;
    /*padding-top: 3px;*/
}

small {
    color: var(--custom-grey)
}

.holdings-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

}

.usd-price {
}

.btc-price {
}

.separator {
    height: 1.5em;
    margin: 0 6px;
    border-right: 1px solid lightgray;
}

/*.change--positive {*/
    /*color: var(--custom-grey);*/
/*}*/

.change--positive data {
    color: green;
}


.change--negative data {
    color: tomato;
}

.coin-logo {
    margin: 0 10px;
}