/*header.mdc-toolbar {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 2;*/
/*}*/

header.mdc-toolbar:not(.toolbar--edit) {
    /*color: var(--custom-grey);*/
    background-color: white;
}

.toolbar--edit svg {
    fill: white;
}

.toolbar--edit {
    color: white;
}

header.mdc-toolbar:not(.toolbar--edit) section {
    display: flex;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    color: #333333;
    padding-left: 8px;
    justify-content: space-between;
}