.my-elevation {
    padding: 10px 10px 0 10px;
    /*padding: 10px;*/
    /*margin: 0 auto;*/
    background-color: white;
    transform: scale(1);
    transition: transform 0.1s;
}

.my-elevation-ripple:hover {
    transform: scale(1.005);
    transition: transform 0.3s;
}

.my-elevation-checked {
    /*transform: scale(0.95);*/
    transform: translateZ(0px) scale3d(0.915, 0.9, 1);
    transition: transform 0.1s;
}

.select-icon {
    position: absolute;
    top: 15px;
    right: 15px;
}

.select-icon svg {
    fill: var(--custom-grey);
}

.my-elevation-container {
    position: relative;
    background-color: #eee;
}

.my-elevation-container-checked svg {
    fill: var(--mdc-theme-primary);
}