@import '~antd/dist/antd.css';

body {
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    width: 100%;
    max-width: 1180px;
    padding-top: 10px;
}

.change--positive data {
    color: #091;
}

.change--negative data {
    color: tomato;
}

@media all and (max-width: 1000px) {
    td:nth-child(n + 9), th:nth-child(n + 9) {
        display: none;
    }
}

:root {
    --mdc-theme-primary: #1890ff;
}